@font-face {
    font-family: 'Merriweather' serif;
    font-weight: 900;
    font-style: normal;
    src: url("Merriweather-Black.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: 'Merriweather' serif;
    font-weight: 900;
    font-style: normal;
    src: url("Merriweather-BlackItalic.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: 'Merriweather' serif;
    font-weight: 700;
    font-style: normal;
    src: url("Merriweather-Bold.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: 'Merriweather' serif;
    font-weight: 700;
    font-style: normal;
    src: url("Merriweather-BoldItalic.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: 'Merriweather' serif;
    font-weight: 300;
    font-style: normal;
    src: url("Merriweather-Italic.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: 'Merriweather' serif;
    font-weight: 300;
    font-style: normal;
    src: url("Merriweather-Light.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: 'Merriweather' serif;
    font-weight: 300;
    font-style: normal;
    src: url("Merriweather-LightItalic.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: 'Merriweather' serif;
    font-weight: 400;
    font-style: normal;
    src: url("Merriweather-Regular.ttf") format("ttf");
    font-display: swap;
  }

  @font-face {
    font-family: 'Kufam' cursive;
    font-weight: 400;
    font-style: normal;
    src: url("Kufam-Italic-VariableFont_wght.ttf") format("ttf");
    font-display: swap;
  }